.left-panel-org {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    background-color: var(--panel-bg);
    border-radius: 1rem;
    flex-direction: column;
    min-height: unset;
}

.profile-image {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border: 3px solid var(--accent-color);
}

.profile-image img {
    width: 100%;
    height: 110%;
    object-fit: cover;
}

.profile-name {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.profile-description {
    line-height: 1.6;
    text-align: justify;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.social-links {
    display: flex;
    gap: 1.5rem;
}

.social-icon {
    font-size: 1.8rem;
    color: var(--text-color);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-icon:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

@media (max-width: 900px) or (main-width: 450px) {
    .left-panel-org {
        margin: 0;
        min-height: 30rem;
    }
}

@media (max-width: 450px) {
    .left-panel-org {
        margin: 0;
        min-height: 30rem;
    }
}
